#nav_div{
    max-width: 1140px;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    z-index: 50;
}
nav{
    text-align: center;
}
nav ul{
    display: inline-block;
}
.nav_head{
    float: left;
}
.nav_body{
    float: right;
    align-items: center;
    padding: 20px;
    margin: 0;
}
.nav_gnb{
    text-align: center;
    list-style: inline;
    margin: 0;
    padding: 0;
}
.nav_gnb>li{
    float: left;
    font-size: 15px;
    line-height: 20px;
    padding: 12px;
    color: currentColor;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    list-style: none;
}
.section1{
    overflow: hidden;
}
.section2{
    overflow: hidden;
}
.section3{
    overflow: hidden;
}
.section4{
    overflow: hidden;
}
.section5{
    overflow: hidden;
}
.section6{
    overflow: hidden;
}
.section7{
    overflow: hidden;
}
.section8{
    overflow: hidden;
}