* {
    top: 0;
    left: 0;
    text-decoration: none;
}

#nav_div{
    width: 100vw;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    z-index: 50;
    display: flex;
    height: 60px;
    line-height: 60px;
}
nav{
    text-align: center;
}
nav ul{
    display: inline-block;
}
.nav_head{
    margin-top: 0;
    margin-left: 10vw;
}

.nav_body{
    margin-left: auto;
    margin-right: 10vw;
}
.nav_body > a {
    margin-left: 10px;
}

/* .sec1_div1 > h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 66px;
    text-align: center;
    margin-bottom: 50px;
} */

/* .sec1_img > img{
    margin-bottom: 200px;
} */
.sec1_div1{
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
    
}
.sec1_div1 > h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 66px;
}
.sec1_div1-2{
    /* position: absolute; */
    /* margin: auto; */
    align-items: center;
    display: flex;
    justify-content: center;
}
.sec1_div1-2 > a{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 5px;
    padding: 10px;
    border-radius: 12px;
    width: 140px;
    height: 50px;
}
.sec1_div2{
    padding: 200px;
    background-color: rgb(#F9FAFB);
}
.sec1_div2 > p{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 100px;
}
.section1{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sec2_div1{
    margin-left: 200px;
}
.sec2_div1 > h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: blue;
    margin-bottom: 30px;
}
.sec2_div1 > p{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
}

/* 위 */
.sec2_div2 > .div2_img1{
    position: relative;
    top: 60%;
    left: 70%;
    width: 370px;
    height: auto;
    transform: translate3d(-50%, -40%, 0);
}

.sec2_div2 > .div2_img2{
    position: absolute;
    top: 200%;
    left: 70%;
    width: 630px;
    height: auto;
    transform: translate3d(-50%, 0%, 0);
}

/* 아래 */
.sec2_div3 > .div3_img1{
    position: relative;
    top: 60%;
    left: 30%;
    width: 345px;
    height: auto;
    transform: translate3d(-65%, -90%, 0);
}

.sec2_div3 > .div3_img2{
    position: absolute;
    top: 255%;
    left: 40%;
    width: 610px;
    height: auto;
    transform: translate3d(-83%, 3%, 0);
}

.sec2_p{
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    right: 300px;
    bottom: 80%;
    transform: translate3d(830px, -850%, 0);
}

.section2{
    overflow: hidden;
}
.section3{
    overflow: hidden;
}
.section4{
    overflow: hidden;
}
.section5{
    overflow: hidden;
}
.section6{
    overflow: hidden;
}
.section7{
    overflow: hidden;
}
.section8{
    overflow: hidden;
}